.filter {
  width: auto;
  height: 60px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .filter .delete_btn {
    background: #fff;
    color: #222;
    width: 60px;
    height: 38px; }
    .filter .delete_btn:hover {
      background: #EFEFEF; }
  .filter .filter_select {
    margin-left: 20px;
    width: 250px; }
  .filter .options_select {
    margin-left: 20px;
    width: 175px; }
  .filter .string_input {
    margin-left: 20px; }
  .filter .is_box {
    margin-left: 20px;
    height: 38px;
    width: 50px;
    background: #EFEFEF;
    color: #222;
    cursor: auto; }
  .filter .range {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    .filter .range .range_input {
      margin-left: 20px;
      width: 50px; }
