.footer {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 10px 0;
  justify-content: space-between; }
  .footer .returned_results {
    align-items: flex-start;
    color: #A3A3A3;
    margin-left: 10px; }
  .footer .footer_right {
    display: flex;
    align-items: center;
    margin-right: 10px; }
    .footer .footer_right .btn {
      margin-left: 15px;
      height: 38px; }
    .footer .footer_right .save_btn {
      width: 230px;
      background: #fff;
      color: #222;
      border: 1px solid #E7E7E7;
      height: 36px; }
      .footer .footer_right .save_btn:hover {
        background: #EFEFEF; }
    .footer .footer_right .search_btn {
      width: 230px; }
